<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Categories</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">All articles</a></li>
                <li><a href="post-article.html">Post article</a></li>
                <li><a href="user-profile.html">User Profile</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="post-category.html">Post Category</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>