<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../assets/style.css">
    <title>Edit Article</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">All articles</a></li>
                <li><a href="post-article.html">Post article</a></li>
                <li><a href="user-profile.html">User Profile</a></li>
                <li><a href="categories.html">Categories</a></li>
                <li><a href="post-category.html">Post Category</a></li>
            </ul>
        </nav>
    </header>
    <form action="#" method="POST" id="modify">
        <h1>modify an Article</h1>
        <input hidden name="article-id" placeholder="article-id" id="article-id" value="">

        <textarea style="display:block" name="titre" placeholder="titre" id="title"></textarea>

        <textarea name="content" placeholder="content" id="content"></textarea>

        <input type="hidden" name="user_id" placeholder="user_id" id="userId" value="">

        <button id="edit">Edit article</button>
    </form>
    <div id="response"></div>
</body>
<script src="../../dist/put-articles.js" type="module">
</script>

</html>